@{
  Layout = "_Layout";
}

<h1>New Order Form</h1>
<hr />

<form action="/vendors/@Model.Id/orders/ " method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id" required>
  <h3>Order Title: </h3>
    <input id="orderTitle" name="orderTitle" type="text" class="form-control" required>
  <h3>Description (basic summary of order):</h3>
    <input id="orderDesc" name="orderDesc" type="text" class="form-control" required>
  <h3>Price (dollar amount only):</h3>
    <input id="orderPrice" name="orderPrice" type="text" class="form-control" required>
  <h3>Date:</h3>
    <input id="orderDate" name="orderDate" type="date" class="form-control" required>
  
  <br><br>
  <button type="submit" class="btn btn-primary">Add Order</button>
</form>

<br>
<p><a href="/vendors">Return to All Vendors</a></p>
<p><a href="/">Return Home</a></p>