<form action="/orders" method="post">
  <h1>ADD ORDER</h1>
  <h3>Description (basic summary of order):</h3>
  <input id="description" name="description" type="text">
  <h3>Price (dollar amount only):</h3>
  <input id="price" name="price" type="text">
  <h3>Date (mm.dd.yy):</h3>
  <input id="date" name="date" type="date">
  <button type="submit">Submit</button>
</form>