<form action="/vendors/@Model.Id/orders" method="post">
  <h1>ADD ORDER</h1>
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <h3>Description (basic summary of order):</h3>
  <input id="description" name="description" type="text">
  <h3>Price (dollar amount only):</h3>
  <input id="price" name="price" type="text">
  <h3>Date:</h3>
  <input id="date" name="date" type="date">
  <button type="submit">Submit</button>
</form>