<h1>ORDER DETAILS</h1>

<h2>Order Desc: @Model["orders"].OrderDesc</h2>
<h2>Order ID: @Model["orders"].Id</h2>
<h2>Order Date: @Model["orders"].OrderDate</h2>
<h2>Order Price: @Model["orders"].OrderPrice</h2>

<p><a href="/vendors/@Model["vendors"].Id">Return to Vendor</a></p>
<p><a href="/vendors">Return to all Vendors</a></p>
<p><a href="/">Home</a></p>