@{
  Layout = "_Layout";
}

<div class="container">
<h1>Pierre's Bakery Vendor Orders<h1>
<h3>Would you like to see all orders or add an order?</h3>
<h4><a href="/orders">Orders</a></h4>

<h3>Would you like to see your vendors or add a vendor?</h3>
<h4><a href="/vendors">Vendors</a></h4>
</div>
