@{
  Layout = "_Layout";
}

<h1><strong>Pierre's Bakery</strong><h1>
  <h2 style="text-align: center">Fulfillment Tracker</h2>
<hr />
<h3>Welcome to your fulfillment tracker!</h3>
<br/>
<h3>Please head to the vendor page to see your current orders.</h3>
<br>
<p><a href="/vendors">See Vendors</a></p>