@{
  Layout = "_Layout";
}

<h1>Pierre's Bakery Fulfillment Tracker<h1>
<hr />
<h3>Welcome to your fulfillment tracker!</h3>
<br/>
<h3>Please head to the vendor page to see your current orders.</h3>
<br>
<p><a href="/vendors">See Vendors</a></p>