@{
  Layout = "_Layout";
}

<h1>ADD VENDOR</h1>

<form action="/vendors" method="post">
  <h3>Vendor Name:</h3>
  <input id="vendorName" name="vendorName" type="text">
  <button type="submit">Add Vendor</button>
</form>

<a href="/vendors">Back to vendors</a>
<a href="/">Back home</a>