@using PierresMVC.Models;

@{
  Layout = "_Layout";
}

<h1>@Model["vendors"].VendorName Orders</h1>
<hr />

@if (Model["orders"].Count == 0)
{
  <h3>There are no orders associated with this vendor at this time.</h3>
}
<ul>
  @foreach (Order orders in Model["orders"])
  {

    <h3>+ <a href="/vendors/@Model["vendors"].Id/orders/@orders.Id">@orders.OrderDesc</a></h3>
  }
</ul>
<br>
<p><a href="/vendors/@Model["vendors"].Id/orders/new">Add Order</a><br></p>
<p><a href="/">Return Home</a></p>